
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490581478387'); /* IE9*/
  src: url('iconfont.eot?t=1490581478387#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490581478387') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490581478387') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490581478387#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before { content: "\e600"; }

.icon-xitongguanli:before { content: "\e601"; }

.icon-tongzhigonggaoguanli:before { content: "\e602"; }

.icon-xuegongduiwuguanli:before { content: "\e603"; }

.icon-xueshengziliaoguanli:before { content: "\e604"; }

.icon-zizhuguanli:before { content: "\e605"; }

.icon-zonghepingce:before { content: "\e606"; }

.icon-jifenshezhi:before { content: "\e683"; }

.icon-zhibiaoxixiang:before { content: "\e684"; }

.icon-zongheceping:before { content: "\e685"; }

.icon-xueshengzhengbuban:before { content: "\e686"; }

.icon-jiezhiriqi:before { content: "\e692"; }

.icon-kaifangfanwei:before { content: "\e693"; }

.icon-baohanjiangxiang:before { content: "\e694"; }
