@charset "utf-8";
/* CSS Document */
*{
    font-family: "Microsoft YaHei";
    list-style: none;
}


.navbar-brand{
    margin-left: 0 !important;
}



/*ѧ��������ϵͳ��ҳ*/
a{
    text-decoration: none;
}
.page-content{
    padding: 30px 40px;
}

.project-activity{
    padding-bottom: 30px;
}


.title{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #3d3e47;
    padding: 5px 0;
}

.time{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #c7c7c7 !important;
    padding: 4px 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.time span{
    color: #999999;
}
.align-center{
    padding: 20px;
    border: 1px solid #e8e8e8;
    /*margin-top: 10px;*/
}

.variety{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 0;
    position: relative;
}
.variety a{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #31a78b !important;
    height: 27px;
    position: relative;
    max-width: 210px;
}

.check-state{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #999999;
    margin-top: 15px;
}

.widget-header{
    border-bottom: 1px solid #f2f2f2 !important;
    padding: 5px 0!important;
    padding-left: 3px;
}
.fontColor{
    color: #3d3e47!important;
    font-size: 18px!important;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

.num{
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: #ef556b;
    color: #fff;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 100%;
}
.more{
    font-size: 16px;
    color: #a5a5a5;
    font-family: "Microsoft YaHei";
    line-height: 40px;
    cursor: pointer;
    padding: 0 5px;
}





/*------------������Ϣ--------------*/
.current{
    color: #3c2662;
    font-size: 18px;
}
.current-type{
    color: #ef556b;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.current-case a{
    font-size: 13px;
    color: #287cfa;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
}
.title_hover{
    margin-top: -4px;
    margin-right: 5px;
}
.widget-class{

    margin-top: 20px;
}

.steps li.active:before,
.steps li.complete:before,
.steps li.active .step,
.steps li.complete .step {
    border-color: #44b49b!important;
}
.steps li.fail:before,
.steps li.complete:before,
.steps li.fail .step,
.steps li.fail .step {
    border-color: #f1667a!important;
}
.steps li .step{
    color: #ced1d6;
}
.steps li.active .step{
    color: #44b49b;
}
.steps li.fail .step{
    color: #f1667a;
}
.steps li .title,.steps li .remark{
    font-size: 16px;
}
.steps li.active .title,.steps li.fail .title{
    color: #44b49b;
}
.steps li .title{
    color: #101010;
}
.steps li.active .remark{
    color: #44b49b;
}
.steps li.fail .remark{
    color: #f1667a;
}

.flow-time{
    margin-top: -40px;
    margin-bottom: 5px;
}

/*������Ϣ*/
.info-lists{
    padding: 10px 0;
}
.info-lists li{
    line-height: 40px;
}
.info-title,.info-cent{
    font-size: 16px;
}
.info-title{
    text-align: right;
    width: 30%;
    color: #999999;
}
.info-cent{
    text-align: left;
    width: 70%;
    color: #666666;
    padding-left: 20px;
}

/*������Ϣ*/
.infos-title{
    font-size: 16px;
    color: #999;
}
.infos-title span{
    font-size: 16px;
    color: #666;
    margin-left: 20px;
}
.info-left-title{
    width: 100px;
    font-size: 16px;
    color: #999;
}
.info-left-title a{
    color: #f06477;
}
.info-box{
    padding: 15px 30px 0 30px;
}
.import-box{
    width: 100%;
    padding-left: 100px;
}
.import-box textarea{
    width: 100%;
    height: 140px;
    border: 1px solid #e8e8e8;
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
}

.btn-box{
    width: 214px;
    margin: 50px auto;
    margin-bottom: 100px;
}
.save-btn,.submit-btn{
    width: 102px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.save-btn{
    background-color: #fd9d4a;
}
.submit-btn{
    background-color: #44b49b;
}




/*�Ż������̨*/
.title-img{
    padding: 10px;
}
.line-h{
    height: 2px;
    width: 100%;
    background-color: #f0f0f2;
}
.cont-box{
    padding: 10px;
}
.cont-btn{
    padding: 10px 5px;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 !important;
}
.cont-btn li{
    float: left;
    margin-right: 15px;
    font-size: 16px;
    color: #666666;
    padding: 3px 7px;
    border: 1px solid #dee5e7;
    cursor: pointer;
}
.cont-tab{
    margin: 0 !important;
    padding: 0 5px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.cont-tab li{
    float: left;
    padding: 15px 10px;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
}
.cont-tab li:nth-child(4){
    background: url("../images/tab-hover.png") bottom no-repeat;
    color: #999;
}
.cont-tab li:hover{
    background: url("../images/tab-hover.png") bottom no-repeat;
    color: #999;
}
.cont-content{
    margin: 0!important;
}
.cont-content li{
    padding: 10px 5px;
    border-bottom: 1px solid #e8e8e8;
}
.cont-content li .name{
    position: relative;
}
.cont-content li .name em{
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #e8e8e8;
    display: inline-block;
}
.cont-content li .name span{
    display: inline-block;
    height:24px;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    padding-left: 20px;
}
.cont-content li .name a{
    line-height: 24px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    height: 24px;
}
.cont-content li .name a img{
    display: inline-block;
    margin-top: -2px;
}
.cont-content li .name a small{
    font-size: 12px;
    margin-left: 5px;
    display: inline-block;
    color: #ffb953;
}
.cont-content li p{
    font-size: 12px;
    color: #999;
    margin: 0!important;
    line-height: 18px;
    padding-top: 5px;
    text-indent: 2em;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}