#browser_ie{height:100px;}
#browser_ie .browser_list {
    position: relative; float: left
}
#browser_ie .browser_list img {
    width: 40px; height: 40px
}
#browser_ie .browser_list span {
    text-align: center; width: 80px; display: inline-block
}
#browser_ie img{
    border:0;
}
.am-table-bordered{
}
.am-table {
    width: 100%;
    /*font-size: 1.4rem;*/
    table-layout: fixed;
}
.am-table > thead > tr > th,
.am-table > tbody > tr > th,
.am-table > tfoot > tr > th,
.am-table > thead > tr > td,
.am-table > tbody > tr > td,
.am-table > tfoot > tr > td {
    padding: 0.4rem;
    line-height: 1.6;
    vertical-align: top;
    border-bottom-width: 1px;
}
.am-table .td{
    white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:middle;
}

.tab-condition-hide{
    display: none;
}

.am-table > thead > tr > th,.am-table > tbody > tr > td{
    border-right: 1px solid #dddddd;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}
.am-table > thead > tr > th:last-child,.am-table > tbody > tr > td:last-child{
    border-right: none;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}

.text-red{
    color: #f00;
    font-size: 16px;
    font-weight: bold;
    font-family: "Consolas";
}
.pagination input{
    font-size: inherit;
    width: 24px;
    height: 16px;
    line-height: 15px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
.pagination select{
    display: inline-block;
    height: 24px;
    width: 50px;
    margin: 0;
    padding: 1px;
    line-height: normal;
}

.pagination .separator {height: 18px; border-left: 1px solid #ddd ; border-right: 1px solid #ddd ; margin: 1px 4px;width:2px;
    float: none;padding:0;}
.pagination > li > a {
    display: inline-block;
    padding: 0;
    width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    position: static;
    float: none;
    margin: 0 2px !important;
    color: #808080;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 100% !important;
}
.pagination > li.disabled > a,.pagination > li.disabled > a:hover{
    background-color: #F7F7F7;
    color:#B0B0B0;
}
.input-icon{padding:0;}
.input-icon input[type='text']{width:100%}
.message-item {
    border: none;
    border-bottom-width: 0;
    padding: 4px;
    line-height: 18px;
    position: relative;
    background-color: #FFF;
}
.message-item .col1 {
    margin: 0 6px 0 4px;
    vertical-align: middle;
    color: #467287;
    display: inline-block;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
}
.message-item .col2 {
    margin: 0 6px 0 4px;
    vertical-align: middle;
    color: #467287;
    display: inline-block;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
}
.message-item .col3 {
    margin: 0 6px 0 4px;
    vertical-align: middle;
    color: #467287;
    display: inline-block;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
}
.message-item .col4 {
    margin: 0 6px 0 4px;
    vertical-align: middle;
    color: #467287;
    display: inline-block;
    width: 5%;
    overflow: hidden;
    white-space: nowrap;
}
span.padding-20{
    padding-right:20px;
}

/** query form style */
.query-form{
    padding-bottom:10px;
}
.query-form input[type="text"]{
    padding:2px 4px 2px;
    font-size:12px;
}
.query-form .chosen-container > .chosen-single, .query-form [class*="chosen-container"] > .chosen-single{
    line-height: 24px;
    height:25px;
    font-size:12px;
}
.query-form .input-icon > .ace-icon{
    line-height: 22px;
    font-size:14px;
}


.page-header {
    margin: 0 0 5px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 4px;
    padding-top: 7px;
}
@media (min-width: 1200px) {
    .container{width:1300px}
    .container.main-container .breadcrumbs-fixed {
        width: 1300px;
    }
    .container.main-container .sidebar + .main-content .breadcrumbs-fixed {
        width: 1110px;
    }
    .container.main-container .sidebar.menu-min + .main-content .breadcrumbs-fixed {
        width: 1257px;
    }
    .main-container.container > .btn-scroll-up {
        right: auto;
        margin-left: 1270px;
    }
}
.dataTables_wrapper .row:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
}
.table-no-border{
    width:100%;
}
.table-no-border tr td{
    border:none !important;
    vertical-align: middle !important;
    padding:4px;
}

.project-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF;
    color:#3b3e45;
}
.project-activity:first-child {
    border-top: 1px dotted transparent;
}
.project-activity img {
    border: 2px solid #C9D6E5;
    border-radius: 100%;
    max-width: 40px;
    margin-right: 10px;
    margin-left: 0px;
    box-shadow: none;
}
.project-activity .thumbicon {
    background-color: #74ABD7;
    display: inline-block;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
    margin-left: 0px;
    text-shadow: none !important;
}
.project-activity .title {
    font-size:18px;
}

.project-activity .time {
    color: #777;
    padding:5px 20px 5px 0;
    font-size:14px;
}
.project-activity .time .ace-icon{
    color:#fd9d4a;
}
.project-activity a.user {
    font-weight: bold;
    color: #9585BF;
}
.project-activity .tools {
    position: absolute;
    right: 12px;
    bottom: 8px;
    display: none;
}
.project-activity:hover .tools {
    display: block;
}
.project-activity img{
    border:0;
}

/*学生界面*/
.student {
 	margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 45px;
  background: #3b3e45;
}

.student .navbar-nav>.active>a, 
.student .navbar-nav>.active>a:hover, 
.student .navbar-nav>.active>a:focus{
	color:#fff;
	background:url("../images/menu_hover.png") no-repeat bottom center;
}
.student .navbar-nav > li{
	border:none;
}
/*学生诚信上报*/
*{  list-style: none;
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}
.reporttable{
    margin:auto;
    width: 100%;
    background-color: #f2f5f5;
    font-size: 14px;
    max-width: 100%;
}
.text-right{
    text-align: right;
}
.reporttable tr{
    height: 40px;
}
.ul-fl{
    width: 40%;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
}
.ul-fl li{
    float: left;
    text-align: center;
    font-size: 14px;
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
}
.ul-fl li a{
   text-decoration: none;
   color: #b098da;
}

 .ul-fl li:hover{
    background-color: #dad8d8;
}
 .ul-fl li.active{
    background-color: #dad9d7;
}
.icon_box{width:40px;height:40px;}
.text_box{height:40px;line-height: 40px;padding-left:10px;}
.ace-settings-box.open{max-width: 200px;}
.ace-settings-box.open .ace-settings-item{min-width:150px;display:inline-block;max-height:40px;}
.ace-settings-box{border-color: #2a8bcb !important}